* {
  font: 10px;
  box-sizing: border-box;
}
body {
position: relative;
  font-family: 'Ubuntu', sans-serif;
}
#map {
  width: 100vw;
  height: 100vh;
}
.flex-form {
  position: absolute;
  top:13rem;
  right: 5rem;
}
.header-form {
  margin: 0;
  background-color: #4d59a1;
  text-align: center;
  width: 61rem;
  height: auto;
  border-radius: 7px;
}
.header-form h2 {
  padding-top: 5.3rem;
  padding-bottom: 6.5rem;
  margin: 0;
  text-align: center;
  font-size: 6.7rem;
  line-height: 2.5rem;
  color: #fff;
}
.header-form__help {
  margin: 0 auto;
  width: 50rem;
}
.header-form__help input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  background-color: #f9F6F3;
  border: 1px solid #000;
  border-radius: 7px;
  outline: none;
}
.header-form__help input::-webkit-input-placeholder {
  color: #b9b9b9;
  font-style: italic;
}
.header-form__help .form_1 {
  width: 48.9%;
  margin-right: 0.7rem;
}
.header-form__help .form_2 {
  width: 48.9%;
}
.header-form__help textarea {
  width: 100%;
  padding: 2.3rem 35.7rem 4.2rem 1.5rem;
  margin-bottom: 25px;
  border: 1px solid #000;
  border-radius: 7px;
  outline: none;
}
.header-form__help textarea::-webkit-input-placeholder {
  color: #b9b9b9;
  font-style: italic;
}
.header-form__btn {
  width: 50%;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  padding: 2.2rem;
  border-radius: 70px;
  background-color: #c3f37f;
  border: 0;
  margin-bottom: 55px;
}