
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.header {
	width: 100vw;
	height: 720px;
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
}
.header-logo {
	margin-top: 35px;
	margin-left: 10px;
}
.header-caption {
	margin-top: 220px;
	text-align: center;
}
.header-caption h1 {
	font-size: 38px;
	line-height: 46px;
	letter-spacing: 10px;
	color: #fff;

}
.header-nav {
	margin-top: 260px;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 48px;
  text-transform: uppercase;
  font-weight: 400;
}
.main-navigation li::last-child {
  padding-right: 0;
}
.main-navigation a {
  color: #fff;
}
.main {
	position: relative;
}
.main_1 {
	margin-top: 106px;
	margin-bottom: 300px;
}
.main_1 h3 {
	font-size: 18px;
	line-height: 20px;
	font-size: bold;
	letter-spacing: 10px;
	text-transform: uppercase;
}
.main p {
	font-size: 28px;
	line-height: 44px;
	letter-spacing: 3px;
	margin-top: 30px;
	color: #666;
}
.main_text {
	position: absolute;
	top: 450px;
	right: 70px;
	z-index: 1000;
}
.main_2 {
	position: relative;
}
.main_2-1 {
	position: absolute;
	top: -100px;
	left: -30px;
	width: 720px;
	height: 600px;
	opacity: 0.5;
	background-color: #1bf1ad;
}
.main_3 {
	position: absolute;
	top: -1000px;
	right: 600px;
}
.main_4 {
	position: absolute;
	top: -770px;
	right: 180px;
}
.main_5 {
	position: absolute;
	top: -550px;
	right: 150px;
}
.main_6 {
	position: absolute;
	top: -80px;
	right: 700px;
}